# Pandas - Uso de librería

In [39]:
import pandas as pd
import numpy as np

### Tipos de datos

Serie

In [9]:
# Serie
s = pd.Series(['Matematicas', 'Historia', 'Economia', 'Programacion', 'Ingles'], dtype='string')
print(s)

0     Matematicas
1        Historia
2        Economia
3    Programacion
4          Ingles
dtype: string

Serie a partir de un diccionario

In [10]:
s = pd.Series({'Matematicas':6.0, 'Economia': 4.5, 'Programacion': 8.5})
print(s)

Matematicas     6.0
Economia        4.5
Programacion    8.5
dtype: float64

Atributos de una serie

In [11]:
s = pd.Series([1,2,2,3,3,3,4,4,4,4])
s.size

10

In [12]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [13]:
s.dtype

dtype('int64')

Acceso por posición

In [14]:
s = pd.Series({'Matematicas':6.0, 'Economia': 4.5, 'Programacion': 8.5})
s[1:3]

Economia        4.5
Programacion    8.5
dtype: float64

In [19]:
s['Economia']

np.float64(4.5)

In [18]:
s[['Programacion','Matematicas']]

Programacion    8.5
Matematicas     6.0
dtype: float64

Descripción de una serie

In [20]:
s.count()

np.int64(3)

In [21]:
s.sum()

np.float64(19.0)

In [22]:
s.cumsum()

Matematicas      6.0
Economia        10.5
Programacion    19.0
dtype: float64

In [23]:
s.value_counts()

6.0    1
4.5    1
8.5    1
Name: count, dtype: int64

In [24]:
s.min()

np.float64(4.5)

In [25]:
s.max()

np.float64(8.5)

In [26]:
s.mean()

np.float64(6.333333333333333)

In [27]:
s.var()

np.float64(4.083333333333333)

In [28]:
s.std()

np.float64(2.0207259421636903)

In [29]:
s.describe()

count    3.000000
mean     6.333333
std      2.020726
min      4.500000
25%      5.250000
50%      6.000000
75%      7.250000
max      8.500000
dtype: float64

Operaciones a una serie

In [30]:
s = pd.Series([1,2,3,4])

s*2

0    2
1    4
2    6
3    8
dtype: int64

In [31]:
s%2

0    1
1    0
2    1
3    0
dtype: int64

In [33]:
s = pd.Series(['a','b','c'])
s*5

0    aaaaa
1    bbbbb
2    ccccc
dtype: object

Funciones a una serie

In [34]:
from math import log

In [35]:
s = pd.Series([1,2,3,4])
s.apply(log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [36]:
s = pd.Series(['a','b', 'c'])
s.apply(str.upper)

0    A
1    B
2    C
dtype: object

Funciones para ordenar series

In [37]:
s = pd.Series({'Matematicas':6.0, 'Economia': 4.5, 'Programacion': 8.5})
print(s.sort_values())

Economia        4.5
Matematicas     6.0
Programacion    8.5
dtype: float64

In [38]:
print(s.sort_values(ascending = False))

Programacion    8.5
Matematicas     6.0
Economia        4.5
dtype: float64

Eliminar datos desconocidos

In [40]:
s = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
s

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [41]:
s.dropna()

0    a
1    b
3    c
5    d
dtype: object